# Raw creategamecharacters.ai bundle (640MB, fetched with the owner's READ key
# — the key itself must NEVER appear in this repo). The game ships the
# optimized copy in assets/creator-min instead (characters carry the
# creategamecharacters licensing — free-game use permitted; see LICENSE).
assets/creator/

node_modules/
*.log

